$('body').prepend("<div id='shadow_div' onclick='close_shadow();'></div>");
$('body').prepend("<div id='shadow_login' class='welcome'><%= escape_javascript render(:file => 'sessions/new.html') %></div>"); 