- if @last_comments
  - @last_comments.each do |comment|
    - post = comment.post || comment.comment.post
    %h3-orange
      =comment.student.login
      &#8658
    %h3
      -if comment.comment
        = link_to post.title, post
      -else
        = link_to post.title, post
    %br
    = comment.content#.gsub(/!http:\/\/.*\(.*\)!/, "[img]")
    %br