<% form_for(@comment, :url => {:action=> :create, :topic_id => params[:topic_id], :comment_id => params[:comment_id]})  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'create comment' %>
  </p>
<% end %>
