<% if @headman_msg %>
 <% @headman_msg.each do |msg| %>
  <h3><%= msg.created_at.strftime("%d.%m %H:%M") %></h3> <%= msg.content %>
    </br>
 <% end %>  
<% end %>
<br>
<% if @student and @student.headman -%>
  <%= link_to "Написать", new_headman_aul_path(:format => :js), :remote => true, :id => "new_headman_aul_link", :class => "new_link" -%>
<% end -%>

