<%= form_for :headman_aul, {:url => headman_auls_path, 
                            :remote => true, 
                            :html => { :multipart => true, 
                                       :id => "new_headman_aul", 
                                       :style => "display: none;" 
                                      }
                           } do |f| -%>
  <%= f.text_area :content, :cols => 40, :rows => 5, :maxlength => 256 %></p>
  <p><%= submit_tag 'Готово' %></p>
<% end -%>
