<tr>
  <th><%= post_rater.student.login %></th>
  <td><font color="<%= if post_rater.mark > 0
    "green"
  elsif post_rater.mark == 0
    "gray"
  else
    "red"
  end  %>"><%= post_rater.mark %></font></td>
</tr>