*{
  margin: 0px;
  padding: 0px;
}

img{
  border: 0px;
}

div{
  position: relative;
}
body{
  background-color: #DDD;  
	margin: 0%;
  font-family: Georgia, serif;
  font-size: 1.2em;
  background-color:#d3d3d3;
  color: #555;
}

textarea{
  background-color: #FFF8C2;
  border-radius:4px;
}
input{
  background-color: #FFF8C2;  
    border-radius:2px;
}

A:link {text-decoration: none; color:#feab25}
A:visited { text-decoration: none; color:#feab25} 
A:active { text-decoration: none; color:white; }
A:hover {text-decoration: underline; color: #fba822;} 

/*===================================================================================== GENERAL */
.inline{
  display: inline-block;
  vertical-align: top;
}

.ata{
  width:80%;
}

.online{
  border-bottom:4px solid #11FF23;
  height:50px;
}

.offline{
  position:absolute;
  top:0px;
  height:50px;
  width:50px;
  background-color:black;
  opacity:0.5;  
}
.offline_text{
  position:absolute;
  top:0px;  
  width:50px;  
  font-size:12px;
  background-color:black;
  color:#FFF;
  opacity:0.6;
}

.h8{
  font-size: 0.6em;
  color:#000;
  text-align:right; 
  margin-right:10px;
}

h1{
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: #000 1px 1px 2px;
  font-size: 1.2em;
}

h2{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 1em;
  display: inline-block;
  text-shadow: #000 1px 1px 2px;
}

h3{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 1em;
  display: inline-block;
}

h3-orange{
  color: #feab25;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 1em;
  display: inline-block;
}

.yellow-block{
  padding-left: 10%;
  margin-top: 10%;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 40%;
  background-color: #ffde00;
  text-shadow: #000 1px 1px 2px;
  font-family: 'Arial Black', Gadget, sans-serif;
}


.shadow{
  border-top:1px solid #555;
  width:100%;
  background-image: url('img/shadow.png');
  height: 9px;
  clear:both;
}

/*_____________________________________________________________________________________ END GENERAL */

/*===================================================================================== TOP  */
#top{
	height: 120px;
  width: 100%;
  background-image:url('img/bg_top.gif');
}

#top_students{
  position: absolute;
  height: 108px;
  width: 100%;
  margin-top:8px;
  text-align:center;
}

#top_line{
  position: absolute;
  top:10px;
  height: 40px;
  width: 100%;
  background-image:url('img/bg_yellow_top.gif');
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.my_avatar{
  height: 100px;
  width: 100px;
  float:center;
}

.stud_bar{
  position:absolute;
  bottom:5px;
  background-color:#000;
  opacity:0.6;
  height: 20px;
  width: 100px;
}

a.message_info{
  position:absolute;
  bottom:4px;
  color:#fff;
  background-image:url('img/Closed_mail.png');
  background-repeat: no-repeat;
  padding-left:30px;  
  display:inline-block;
}
a.logout{
  height:24px;
  width:24px;
  position:absolute;
  bottom:0px;
  right:0px;  
  background-image:url('img/logout.png');
  background-repeat: no-repeat;  
  display:inline-block;  
}
/*____________________________________________________________________________________ END TOP  */

/* ==================================================================================== MESSAGES    */
.message_new{
  width:99%;
  background-color:#ff6262;
  border-bottom: 1px solid #FFF;
}
.message{
  width:99%;
  background-color:#FFF;
  border-top: 1px solid #DDD;
}

#message_button{
  color:black;
}

.message_open{
  background-color:#F0F0F0;
}

#white_bg{
  background-color: #FFF;
  width: 90%;
  padding: 0% 5%;  
}
#white_bg h1{
    text-shadow: none;  
}
/*____________________________________________________________________________________ END MESSAGES  */


/* ==================================================================================== INFO    */

#info_bg{
  width:100%%;
  height:100%;
  background-repeat:repeat-x;
}

.wave_top{
  width:100%;
  height:15px;
  background-image:url('img/wave_top.gif');
  position: relative;
}

.wave_bottom{
  width:100%;
  height:15px;
  background-image:url('img/wave_bottom.gif');
}

.wave_border_b{
  height:8px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;  
}

.wave_border_t{ 
  position: absolute;
  bottom:0px;
  height:8px;
  width:99.7%;
  border-left: 1px solid #555;
  border-right: 1px solid #555;  
}


#info_center{
  width:100%;
  height:200px; 
  background-color: white;
  text-align: center;   
}

.info{
  width:32.8%;
  height:100%;
  color: #ffde00;
  overflow: hidden;
}

.info_content{
  width: 100%;
  height: 100%;
  color: #555;
  font-size: 60%;
  text-align: left;
}

#headman_aul_content{
  margin-left: 5px;
}

#new_content{
}

#last_comments{
}

.new_link{
  position: absolute;
  right: 10px;
  bottom: 40px;
  background-color: white;
  border: 1px solid #555;
}

#info_line{
  width: 100%;
  height: 41px;
  border-top: 1px solid #555; 
  border-bottom: 1px solid #555; 
  background-image:url('img/bg_orange.gif');
}

#info_sections{
  width: 100%;
  height: 41px;
  background-color: white;
}
.info_sect{
  border-bottom: 1px solid #555; 
  float:left; 
  height:30px;
  text-align:center;
}
/*===================================================================================== CALENDAR  */

#calendar{
  text-align: center;
}

#calendar_week{
  width: 76%;
  height: 41px;
  overflow: hidden;
}

#calendar_week a{
  text-decoration:none;
}

#calendar_days{
  width: 98%;
}

.new_calendar_days{
  position: absolute;
  width: 100%;
  height: 41px;
}

#new_calendar_days_next{
  left: 100%;
}

#new_calendar_days_prev{
  left: -100%;
}
#prev_button{
  background-image:url('img/arrow_left.gif');
  display: inline-block;
  width: 61px;
  height: 41px;
}
#prev_button:hover{
  background-image:url('img/arrow_left_a.gif');
}

#next_button{
  background-image:url('img/arrow_right.gif');
  display: inline-block;
  width: 61px;
  height: 41px;
}

#next_button:hover{
  background-image:url('img/arrow_right_a.gif');
}
.button_spinner{
  margin-top: 10px;
  position: absolute;
  display: none;
}

.calendar_day{
  color:#999;
  height:41px;
  width: 5%;
  background-color: #FFF;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  float: left;
}

.calendar_day:hover{
  height:37px; 
  border: 2px solid #555;
  background-color: #ececec;
}

.calendar_day_full{
  color: #555;
  background-color: #feab25;
}
.calendar_day_full:hover{
  background-color: #feba4c;
}

.calendar_day_sunday{
  color:#ba0400;
}

.calendar_day_today{
  height:39px; 
  width:10%;
  border: 1px solid #555;
}

.month{
  margin-top:-7px;
}

.new_day{
  background-color: white;
  z-index: 10;
  display: none;
  margin-top:-4px;
  border: 1px solid #555;
}

.show_day{
  width:100%;
  margin-top:-4px;
  display: none;
  z-index: 10;
  background-color: white;
}

.event{
  border-bottom: 1px solid blue;
}
/* ____________________________________________________________________________________ END INFO   */

/* ==================================================================================== POST */
#blinds_button{
  width:30%;
  height: 30px;
  float:left;
  background-color: #000;
  display:block;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;  
}
#blinds{
  font-size:70%;
}

.post{  
	margin-top:3px;
	margin-bottom: 5px;
	height: 100%;
	width:32%;
  margin-left:1%;
}
#new_big_post{
	height: 100%;
	width: 90%;
  margin: 0% 5%;
}
.annotation{
  width: 90%;
  margin: 0% 5%;
  height: 100px;
}
.title{
  width: 90%;
  margin: 0% 5%;
}

.post_content{
  color:#555;
  height: 300px;
  background-color: white;
  text-align: center;  
  border-left: 1px solid #555;
  border-right: 1px solid #555;    
  background-color: white;
  background-image:url('img/ruby.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

#big_post_content{
	height: 100%;
}

.post_title{
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background-color: #ffde00;
}

.post_bottom{  
  height: 55px;  
  position: relative;
  background-color: white;
  border-left: 1px solid #555;
  border-right: 1px solid #555; 
}

.post_bottom_line{
  height: 30px;
  background-image:url('img/bg_yellow_small.gif'); 
  width: 70%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;  
  float: left;
}

.big_post_bottom_line{
  width: 100%;
}


.post_rating_green{
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin-left: -1px;
  height: 30px;  
  width: 30%;
  border-left: 1px solid #555;
  float: right;  
  background-image:url('img/green_rating.gif'); 
  background-repeat: repeat-x;
}
.post_rating_red{
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin-left: -1px;
  height: 30px;  
  width: 30%;
  border-left: 1px solid #555;
  float: right;  
  background-image:url('img/red_rating.gif'); 
  background-repeat: repeat-x;
}

.rating_comment{
  display: block;
  color:#000;
}
a.rating_comment{  
  color:#555;
}

.rating{
  display: inline-block;
  vertical-align: top;
  padding-left: 25%;
  color:#000;
}

.rating a{
  color:#333;
}
.rating_plus{
  margin-top:2px;
  display: inline-block;
  vertical-align: center;
  height: 25px;
  width: 29px;
  background-image:url('img/up.png');
  float:right;
}

.rating_plus:hover{ 
  background-image:url('img/up_a.png');    
}

.rating_minus{
  margin-top:2px;
  display: inline-block;
  vertical-align: center;
  height: 25px;
  width: 29px;
  background-image:url('img/down.png');
  float:left;
}

.rating_minus:hover{ 
  background-image:url('img/down_a.png');    
}

.post_bottom_avatar{
  height: 50px;
  position: absolute;
  top:0px;
  left:10px;
  border: 1px solid #555;  
}

.raters{
  position: absolute;
  border-radius: 5px;
  background-color: #bbb;
  opacity: 0.8;
  display: none;
  color: #000;
}
.post_raters{
  right: 0px;
  bottom: 0px;
}

.comment_raters{
  top: 0px;
  left: 0px;
  z-index: 10;
}


#post_show{
  background-color: white;  
  float:left;
  width: 97%;
  padding-left: 3%;  
}

#post_show a{
  color:  #feab25;
  text-shadow: black 1px 1px 2px;
}
#post_show h1{
  color:  #FFDE00;
  text-shadow: black 1px 1px 2px;
}

.post_left_part{
  color: #555;
  font-size: 18px;
  float:left;
  width:  70%;
  background-color: white;  
}
.post_left_part a{  
  color:  #ffde00;
  text-shadow: none;    
}

.post_right_part{ 
  color: #555;
  width:  29%;
  float: right;
  margin-top:10px;
  margin-bottom:10px;
  border-top: 1px solid #555; 
  border-left: 1px solid #555; 
  border-bottom: 1px solid #555; 
}

.post_line{
  height: 20px;
  background-color: #ffde00;  
  width: 100%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  text-align:right;
  font-size:14px;  
}
.post_line a{
  color:#555;
}

.post_show_bottom{
  clear:both;  
  height: 55px;
  background-color: white;
}

#comments{
  color: #666;
}

.comment_rating{
  width:29px;
  height:80px;
  background-image:url('img/rate_good.gif');
  text-align:center;
}
.comment_rating_bad{
  width:29px;
  height:80px;
  background-image:url('img/rate_bad.gif');
}

.comment_top{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  font-size:16px;
  border-top: 1px solid #555; 
  background-color: white;  
}
.comment_bottom{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:90px;
  font-size:15px;
  background-color: white;
}

.comment_new{
  z-index:12;
  padding-top:10px;
  background-color: white;
  text-align:left;
  border-top: 1px solid #555; 
  border-bottom: 1px solid #555; 
}

.comment_avatar{
  height: 50px;  
  border: 1px solid #555;
  margin-left:10px;
}
.comment_content{
  width:80%;
}

.comment_content h1{
  text-shadow: none;
}

.student_login{
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background: #c3c3c3;
}

.student_info{
  position: absolute;
  z-index: 11;
  border-radius: 5px;
  background: #c3c3c3;
  text-align:center;
}

.close{  
  position: absolute;  
  left: 5px;
  top: 0px;    
}
.close a{
  color:red;  
}