*{
  margin: 0px;
  padding: 0px;
}

div{
  position: relative;
}
body{
  background-color: #DDD;  
	margin: 0%;
  font-family: Georgia, serif;
  font-size: 1.2em;
  background-color:#d3d3d3;
  color: #555;
}

A:link {text-decoration: none; color:#feab25}
A:visited { text-decoration: none; color:#feab25} 
A:active { text-decoration: none; color:white; }
A:hover {text-decoration: underline; color: #fba822;} 

/*===================================================================================== GENERAL */
.inline{
  display: inline-block;
  vertical-align: top;
}

.ata{
  width:80%;
}

.online{
  border-bottom:8px solid #11FF23;
}

h1{
  font-family: Arial Black, Gadget, sans-serif;
  text-shadow: #000 1px 1px 2px;
  font-size: 1.2em;
}

h2{
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 1em;
  display: inline-block;
  text-shadow: #000 1px 1px 2px;
}

h3{
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 1em;
  display: inline-block;
}

h3-orange{
  color: #feab25;
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 1em;
  display: inline-block;
}

.yellow-block{
  padding-left: 10%;
  margin-top: 10%;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 40%;
  background-color: #ffde00;
  text-shadow: #000 1px 1px 2px;
  font-family: Arial Black, Gadget, sans-serif;
}


.shadow{
  border-top:1px solid #555;
  width:100%;
  background-image: url('img/shadow.png');
  height: 9px;
}

/*_____________________________________________________________________________________ END GENERAL */

/*===================================================================================== TOP  */
#top{
	height: 120px;
  width: 100%;
  background-image:url('img/bg_top.gif');
}

#top_students{
  position: absolute;
  height: 108px;
  width: 100%;
  margin-top:8px;
  text-align:center;
}

#top_line{
  position: absolute;
  top:10px;
  height: 40px;
  width: 100%;
  background-color: #ffde00;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}


/*____________________________________________________________________________________ END TOP  */


/* ==================================================================================== INFO    */

#info_bg{
  width:100%%;
  height:100%;
  background-repeat:repeat-x;
}

.wave_top{
  width:100%;
  height:15px;
  background-image:url('img/wave_top.gif');
  position: relative;
}

.wave_bottom{
  width:100%;
  height:15px;
  background-image:url('img/wave_bottom.gif');
}

.wave_border_b{
  height:8px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;  
}

.wave_border_t{ 
  position: absolute;
  bottom:0px;
  height:8px;
  width:99.7%;
  border-left: 1px solid #555;
  border-right: 1px solid #555;  
}


#info_center{
  width:100%;
  height:200px; 
  background-color: white;
  text-align: center;   
}

.info{
  width:32.8%;
  height:100%;
  color: #ffde00;
  overflow: hidden;
}

.info_content{
  width: 100%;
  height: 100%;
  color: #555;
  font-size: 60%;
  text-align: left;
}

#headman_aul_content{
  margin-left: 5px;
}

#new_content{
}

#last_comments{
}

.new_link{
  position: absolute;
  right: 10px;
  bottom: 40px;
  background-color: white;
  border: 1px solid #555;
}

#info_line{
  width: 100%;
  height: 41px;
  border-top: 1px solid #555; 
  border-bottom: 1px solid #555; 
  background-color: #ffde00;
}

#info_sections{
  width: 100%;
  height: 41px;
  background-color: white;
  border-left: 1px solid #555; 
  border-right: 1px solid #555;
}
.info_sect{
  border-bottom: 1px solid #555; 
  float:left; 
  height:30px;
  text-align:center;
}
/*===================================================================================== CALENDAR  */

#calendar{
  text-align: center;
}

#calendar_week{
  width: 76%;
  height: 41px;
  overflow: hidden;
}

#calendar_week a{
  text-decoration:none;
}

#calendar_days{
  width: 98%;
}

.new_calendar_days{
  position: absolute;
  width: 100%;
  height: 41px;
}

#new_calendar_days_next{
  left: 100%;
}

#new_calendar_days_prev{
  left: -100%;
}
#prev_button{
  background-image:url('img/button_left.gif');
  display: inline-block;
  width: 15px;
  height: 41px;
}
#prev_button:hover{
  background-image:url('img/button_left_a.gif');
}

#next_button{
  background-image:url('img/button_right.gif');
  display: inline-block;
  width: 15px;
  height: 41px;
}

#next_button:hover{
  background-image:url('img/button_right_a.gif');
}
.button_spinner{
  margin-top: 10px;
  position: absolute;
  display: none;
}

.calendar_day{
  color:#999;
  height:41px;
  width: 5%;
  background-color: #FFF;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  float: left;
}

.calendar_day:hover{
  height:37px; 
  border: 2px solid #555;
  background-color: #ececec;
}

.calendar_day_full{
  color: #555;
  background-color: #BCE324;
}
.calendar_day_full:hover{
  background-color: #daea6a;
}

.calendar_day_sunday{
  color:#ba0400;
}

.calendar_day_today{
  height:39px; 
  width:10%;
  border: 1px solid #555;
}

.month{
  margin-top:-7px;
}

.new_day{
  background-color: white;
  z-index: 10;
  display: none;
  margin-top:-4px;
  border: 1px solid #555;
}

.show_day{
  width:100%;
  margin-top:-4px;
  display: none;
  z-index: 10;
  background-color: white;
}

.event{
  border-bottom: 1px solid blue;
}
/* ____________________________________________________________________________________ END INFO   */

/* ==================================================================================== POST */

.post{  
	margin-top:3px;
	margin-bottom: 5px;
	height: 100%;
	width:32%;
  margin-left:1%;
}
#new_big_post{
	height: 100%;
	width: 90%;
  margin: 0% 5%;
}
.post_content{
  color:#555;
  height: 300px;
  background-color: white;
  text-align: center;  
  border-left: 1px solid #555;
  border-right: 1px solid #555;    
  background-color: white;
  background-image:url(img/ruby.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#big_post_content{
	height: 100%;
}

.post_title{
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background-color: #ffde00;
}

.post_bottom{  
  height: 55px;  
  position: relative;
  background-color: white;
  border-left: 1px solid #555;
  border-right: 1px solid #555; 
}

.post_bottom_line{
  height: 20px;
  background-color: #ffde00;  
  width: 70%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;  
  float: left;
}

.big_post_bottom_line{
  width: 100%;
}


.post_rating_and_section{
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  height: 20px;  
  width: 30%;
  border-left: 1px solid #555;
  float: right;  
}

.rating{
  display: inline-block;
  vertical-align: top;
  margin-left:25%;
  color:#000;
}

.rating_plus{
  margin-top:2px;
  display: inline-block;
  vertical-align: center;
  height: 13px;
  width: 15px;
  background-image:url('img/up.gif');
  float:right;
}

.rating_plus:hover{ 
  background-image:url('img/up_a.gif');    
}

.rating_minus{
  margin-top:2px;
  display: inline-block;
  vertical-align: center;
  height: 13px;
  width: 15px;
  background-image:url('img/down.gif');
  float:left;
}

.rating_minus:hover{ 
  background-image:url('img/down_a.gif');    
}

.post_bottom_avatar{
  height: 50px;
  position: absolute;
  top:0px;
  left:10px;
  border: 1px solid #555;  
}

.raters{
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  background-color: #bbb;
  opacity: 0.8;
  display: none;
  color: #000;
}

#post_show{
  background-color: white;  
  float:left;
  width: 97%;
  padding-left: 3%;
}
#post_show h1{
  color:  #ffde00;
}
#post_show a{
  color:  #feab25;
}

.post_left_part{
  color: #555;
  font-size: 18px;
  float:left;
  width:  70%;
  background-color: white;  
}

.post_right_part{ 
  color: #555;
  width:  29%;
  float: right;
  margin-top:10px;
  border-top: 1px solid #555; 
  border-left: 1px solid #555; 
  border-bottom: 1px solid #555; 
}

.post_line{
  height: 20px;
  background-color: #ffde00;  
  width: 100%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  text-align:right;
  font-size:14px;  
}
.post_line a{
  color:#555;
}

.post_show_bottom{
  clear:both;  
  height: 55px;
  background-color: white;
}

#comments{
  color: #666;
}

.comment_top{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  font-size:16px;
  border-top: 1px solid #555; 
  background-color: white;  
}
.comment_bottom{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:50px;
  font-size:15px;
  background-color: white;
}

#comment_new{
  z-index:12;
  background-color: white;
}

.comment_avatar{
  height: 50px;  
  border: 1px solid #555;  
}
.comment_content{
  width:80%;
}

.student_login{
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background: #c3c3c3;
}

.student_info{
  position: absolute;
  z-index: 11;
  border-radius: 5px;
  background: #c3c3c3;
}

.close{
  position: absolute;
  left: 5px;
  top: 0px;
}
/*
.student{
	height:100px;
	width:100px;
	background-image:url('img/noavatar.gif');
}

.online{
  border-bottom:8px solid #11FF23;
}

#top_shadow{
	height:9px;
	width:100%;
	background-image:url('img/top_shadow.png');
}

.info{  
	margin-top:1%;
  padding: 0px 1%;
	height: 150px;
	width:29.3%;
	margin-left:1.525%;
	background-image: url('img/info.png');
	text-align: center;
}

.post{  
	margin-top:1%;
	margin-bottom: 5%;
	height: 350px;
	width:28%;
	margin-left:4%;

}

.post_bottom{  
  height: 65px;    
  background-image:url('img/post_bottom.png');  
}

.post_content{  
  height: 335px;
  background-color: #3c3c3c;  
  text-align: center;
}

.r20{
  padding-top:1px;
  float:right;
  width:65px;
  height:65px;
  text-align: center;
}
.l20{
  padding-top:8px;
  width:18%;
  height:65px;
  text-align: center;
}
.w20{
  padding-top:1px;
  width:18%;
  height:65px;
  text-align: center;
}


.section_red{
  color:white;
  text-align:center;
  width:60%;
  height:65px;
  background-image:url('img/post_type_blue.png'); 
}

.rating{
  right: 0px;
  color:white;
  font-size:18pt;
  width:100%;
  height:27px;
  background-image:url('img/rating.gif'); 
}

.rating_plus{
  display:block;
  width:65px;
  height:16px;
  background-image:url('img/button_plus.png');
}
.rating_plus:hover{  
  background-image:url('img/button_plus_a.png'); 
}

.rating_minus{
  display:block;
  width:100%;
  height:16px;
  background-image:url('img/button_minus.png');
}
.rating_minus:hover{
  background-image:url('img/button_minus_a.png'); 
}

.inline{
  display: inline-block;
  vertical-align: top;
}

.grey-bg-padding{
  padding: 10px;
}

.grey-bg{
  background-color: #3c3c3c;
}

.grey-block{
  padding-left:10%;
  margin-top:10%;
  border-right:1px solid #fff;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  width:40%;
}

.comment_top{
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 3px;
  padding: 5px;
}

*/
