%html
  %head
    %meta(http-equiv="Content-Language" content="ru")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %body
    Готово. Только есть одна проблема: Размер строк вычисляется правильно только для русских слов, для английских он в два раза меньше. Если важна длина слов для английских слов, то позвони мне или напиши, я исправлю.
    =form_tag "grisha/make_file", :multipart => true do
      =file_field_tag "file"
      =submit_tag
