%meta(http-equiv="Content-Language" content="ru")
%meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
%table
  -@str.to_a.sort{|i,j| i[0].size <=> j[0].size}.each do |a|
    %tr
      %td
        =a[0]
      %td
        =a[0].size/2
      %td
        =a[1]