!!! 5
%head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
  %title markItUp! preview template
  = stylesheet_link_tag 'preview.css'

%body
  =RedCloth.new(@data).to_html.html_safe
  /content

