<br>
<div class="wave_top"></div>
<div id="post_show">
  <div class="post_left_part inline">  
    <h1><%= link_to @post.section.title, '/'%> &#8658 <%= h @post.title %></h1>
  </div>
  <div class="post_right_part inline">
    <br>
  </div>
</div>
<div class="wave_bottom"></div>