<!DOCTYPE html>
<html>
<head>
  <title>Vekwak</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="grey-block grey-bg">
  <%= yield %>
</div>
</body>
</html>
